<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
    <title>Grosharies</title>
  <!--<meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />-->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>-->
  <!--<script type="text/javascript" src="../static/js/image_slide.js"></script>-->
</head>

<body>
  <div id="main">
    <div id="header">
	  <div id="banner">
	    <div id="welcome">
	      <h1></h1>
	    </div><!--close welcome-->
	    <div id="welcome_slogan">
	      <h1 style="text-shadow: 4px 4px 1px #000000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shopping Just Got Easier!</h1>
	    </div><!--close welcome_slogan-->
	  </div><!--close banner-->
    </div><!--close header-->

	<div id="menubar">
      <ul id="menu">
        {% if isGuest %}
		<li><a href="default">Login</a></li>
        <li><a href="FAQ">FAQ</a></li>
		<li><a href="about">About</a></li>
	    {% endif %}
		
		{% if isUser %}
        <li><a href="index">Home</a></li>
        <li><a href="FAQ">FAQ</a></li>
		<li><a href="about">About</a></li>
        <li><a href="logout" style="float:right;">Logout</a></li>
		{% endif %}
      </ul>
    </div><!--close menubar-->
	
	<div id="site_content">	

	  {% if isGuest %}
	  <div class="guest_sidebar">
	  </div>
	  {% endif %}
	  
	  {% if isUser %}
	  <div class="sidebar_container">
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Groups</h2>
			 <a href="createGroup" ><h3>Create Group</h3></a>
             {% for i in userGroups %}
			<p><a href="listPage?gid={{i.0}}" id ={{i.0}}>{{i.1}}<br/> </a></p>
			{% endfor %}
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar" style="visibility: hidden">
          <div class="sidebar_item">
            <h2>Lists</h2>
			 <a href="createList"><h3>Create List</h3></a>
             <p>list1<br/> list2<br/> list3<br/></p>
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
           
           
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar--> 
       </div><!--close sidebar_container-->
	   {% endif %}
	
	
	
      <div id="content">
	  
        <div class="content_item">
         	<div>
				<h1>About</h1>
				<p>These days, everyone is writing their groceries list on a piece of paper hanging on the fridge,
				or just simply trying to remember the whole list (And eventually forgetting some of them). </p>
				<p>We think that this is an old-fashioned way to manage the groceries list, so we offer you to try our
				brand new, cross-platform, highly comfortable web application!</p>
				<p>This is exactly where 'Grosharies' come into place! </p>
				<p>'Grosharies' allows multiple users to share and manage their groceries list via web-application
				that is accessible from any PC, Mac or mobile device. The list is synchronized between all of the users,
				in order for you to stay updated with it in any time and any place!</p>
			</div>
          
	    </div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content-->  
 
  </div><!--close main-->
  
  <div id="footer">
	  <a href="contact">Contact Us</a> | <a href="terms">Terms of Use</a> | <a href="privacy">Privacy Policy</a>
	  <br/> © Copyright 2015 Grosharies
  </div><!--close footer--> 	
  
</body>
</html>
