<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
  <title>Grosharies</title>
  <!--<meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />-->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
  <!--<script type="text/javascript" src="../static/js/jquery.min.js"></script>-->
  <!--<script type="text/javascript" src="../static/js/image_slide.js"></script>-->
</head>

<body>
  <div id="main">
    <div id="header">
	  <div id="banner">
	    <div id="welcome">
	      <h1></h1>
	    </div><!--close welcome-->
	    <div id="welcome_slogan">
	      <h1 style="text-shadow: 4px 4px 1px #000000;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shopping Just Got Easier!</h1>
	    </div><!--close welcome_slogan-->
	  </div><!--close banner-->
    </div><!--close header-->

	<div id="menubar">
      <ul id="menu">
        {% if isGuest %}
		<li><a href="default">Login</a></li>
        <li><a href="FAQ">FAQ</a></li>
		<li><a href="about">About</a></li>
	    {% endif %}
		
		{% if isUser %}
        <li><a href="index">Home</a></li>
        <li><a href="FAQ">FAQ</a></li>
		<li><a href="about">About</a></li>
        <li><a href="logout" style="float:right;">Logout</a></li>
		{% endif %}
      </ul>
    </div><!--close menubar-->
	
	<div id="site_content">	

	  {% if isGuest %}
	  <div class="guest_sidebar">
	  </div>
	  {% endif %}
	  
	  {% if isUser %}
	  <div class="sidebar_container">
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Groups</h2>
			 <a href="createGroup" ><h3>Create Group</h3></a>
             {% for i in userGroups %}
			<p><a href="listPage?gid={{i.0}}" id ={{i.0}}>{{i.1}}<br/> </a></p>
			{% endfor %}
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar" style="visibility: hidden">
          <div class="sidebar_item">
            <h2>Lists</h2>
			 <a href="createList"><h3>Create List</h3></a>
             <p>list1<br/> list2<br/> list3<br/></p>
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
           
           
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar--> 
       </div><!--close sidebar_container-->
	   {% endif %}
	
	
	
      <div id="content">
	  
        <div class="content_item">
				<h1>Contact Us</h1>
				<form action="form.asp">
					<p> Your comment is important to us! </p>
					<p> We're dedicated to the success of Grosharies and happy to hear of any issues or suggestions
							for our site. </p>
					<p> You can contact us by using the form down below or by email us at groshariesteam@gmail.com</p>
					
					<table style="color:white; width:10%">
						<tr>
							<td> Name: </p></td>
							<td> <textarea id="name" rows="1" cols="25"></textarea></p></td>
						</tr>
						<tr>
							<td> Email: </p></td>
							<td> <textarea id="email" rows="1" cols="25"></textarea></p></td>
						</tr>
						<tr>
							<td> Subject: </p></td>
							<td> <textarea id="subject" rows="1" cols="25"></textarea></p></td>
						</tr>
						<tr>
							<td> Content: </p></td>
						</tr>
					</table>
					<textarea id="content" rows="10" cols="1"></textarea> </td>
					<button type="button" onclick="alert('Thank you for your comment! We will do our best to take care of it as soon as possible!');location.reload();">Submit</button>
				</form>
          
	    </div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content-->  
 
  </div><!--close main-->
  
  <div id="footer">
	  <a href="contact">Contact Us</a> | <a href="terms">Terms of Use</a> | <a href="privacy">Privacy Policy</a>
	  <br/> © Copyright 2015 Grosharies
  </div><!--close footer--> 	
  
</body>
</html>
