<html>

<head>
  <title>Grosharies</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="google-signin-clientid" content="609265042200-70l0gtuq1r167j3c7132ailg7jmljd2c" />
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/userinfo.email" />
  <meta name="google-signin-cookiepolicy" content="single_host_origin" />
  <script src="https://apis.google.com/js/client:platform.js" async defer></script>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../static/js/login.js"></script>
</head>

<body>
  <script> </script>
  <div id="main">
    <div id="header">
	  <div id="banner">
	    <div id="welcome">	      
	    </div><!--close welcome-->
	  </div><!--close banner-->
    </div><!--close header-->
	
	<div id="site_content2">	
		<div><center>
			<img width="400" height="350" src="../static/images/logo.png"></a>	
		</center></div>
		</br>
		<div>
			<center><h2>Welcome To Grosharies! Please Sign in:</h2></center>
		</div>
		<br>
		<div>
		<center>	
			<input type="image" id="facebookLogin" width="280" height="45" src="../static/images/facebookSign.png"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="image" id="googleLogin" width="280" height="45" src="../static/images/googleSign.png">
			</br></br></br></br>
		</center></div>
		
	</div><!--close site_content-->  
 
  </div><!--close main-->
  
  <div id="footer">
	  <a href="contact">Contact Us</a> | <a href="terms">Terms of Use</a> | <a href="privacy">Privacy Policy</a>
	  <br/> © Copyright 2015 Grosharies
  </div><!--close footer--> 	
  
</body>
</html>