<html>

<head>
  <title>Grosharies</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
  
  <!-- Do not delete the line bellow. This line use for Google API login! -->
  <script src="https://apis.google.com/js/client:platform.js" async defer></script> 
  <script src="../static/js/facebook.js" />
</head>

<body>
<script> </script>
  <div id="main">
    <div id="header">
	  <div id="banner">
	    <div id="welcome">	      
	    </div><!--close welcome-->
	  </div><!--close banner-->
    </div><!--close header-->
	
	<div id="site_content">	
        <div class="content_item">
         <h1>Welcome to Grosharies!</h1>         
	    </div><!--close content_item-->
		<div><center>
		<img width="300" height="250" src="../static/images/logo.png"></a>	
		<center></div>
		</br></br>
		<div>
		<h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		&emsp;&emsp;&emsp;&emsp;&emsp;Login with</h3>
		</div>
		<br>
		<div>
		<center>	
			<input id="facebookLogin" type="image" width="60" height="60" onclick="loginFacebook()" src="../static/images/facebook.png"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="index"><img id="googleLogin" width="60" height="60" src="../static/images/google.png"></a>
		</br></br></br></br></br>
		</center></div>
		
	</div><!--close site_content-->  
 
  </div><!--close main-->
  
  <div id="footer">
	  <a href="contact">Contact Us</a> | <a href="terms">Terms of Use</a> | <a href="privacy">Privacy Policy</a>
	  <br/> © Copyright 2015 Grosharies
  </div><!--close footer--> 	
  
</body>
</html>
