<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
  <title>Grosharies</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/image_slide.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
	  <div id="banner">
	    <div id="welcome">
	      <h1></h1>
	    </div><!--close welcome-->
	    <div id="welcome_slogan">
	      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shopping Just Got Easier!</h1>
	    </div><!--close welcome_slogan-->
	  </div><!--close banner-->
    </div><!--close header-->

	<div id="menubar">
      <ul id="menu">
        <li><a href="index">Home</a></li>
        <li><a href="FAQ">FAQ</a></li>
		<li><a href="about">About</a></li>
        <li><a href="index">Logout</a></li>
		<li>
		<a href="search" style="float:right;"><img width="20" height="20" src="../static/images/magnifier.png"></a>
		</li></br>
		<input type="text" name="txtSearch" placeholder="Group Search" style="float:right;" size="15" height="20px">
      </ul>
    </div><!--close menubar-->
	
	<div id="site_content">	

	  <div class="sidebar_container">       
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Groups</h2>
			 <a href="index" ><h3>Create Group</h3></a>
            <p><a href="listPage"> group1<br/> </a></p>
			<p><a href="listPage"> group2<br/> </a></p>
			<p><a href="listPage"> group3<br/> </a></p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar" style="visibility: hidden">
          <div class="sidebar_item">
            <h2>Lists</h2>
			 <h3>Create List</h3>
            <p><a href="list"> list1<br/> </a></p>
			<p><a href="list"> list2<br/> </a></p>
			<p><a href="list"> list3<br/> </a></p>
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
           
           
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar--> 
       </div><!--close sidebar_container-->
	
	
	
      <div id="content">
	  
        <div class="content_item">
         	<div>
				<h1>FAQ</h1>
				<p>
				<li>How can I log in? <br/>	
				You can choose to log in with your Google/Facebook account, or by supplying a Username and Password if already registered.</li><br/>
				
				<li>Can I add new people to a group after I already created it? <br/>
				Of course! you can add as many people as you want even after creating the group.</li><br/>

				<li>If I'm a member in a group and I created a new list, can I decide who can use the list?  <br/>
				Yes, if you created the list, you become the list admin. The list admin can decide who is viewer and who is partner on your list. </li><br/>
				
				<li>If I'm a member in a group which has another person as a manager, can I still add new people to it? <br/>						
				Yes. But they won't be added until the group's admin confirm it.</li><br/>

				<li>Is it possible to access your system via mobile phones? <br/>
				Yes, but at the moment we don't have a mobile application, so you can access it through your browsers like Chrome/Firefox/Safari.</li><br/>

				<li>Can i leave a group even if i'm the manager? <br/>
				Yes, it is possible, but if you want to keep the group you will have to choose a new manager instead. Otherwise the group will be deleted permanently.</li><br/>
				</p>
</div>
          
	    </div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content-->  
 
  </div><!--close main-->
  
  <div id="footer">
	  <a href="mailto:groshariesteam@gmail.com">Contact Us</a> | <a href="terms">Terms of Use</a> | <a href="privacy">Privacy Policy</a>
	  <br/> © Copyright 2015 Grosharies
  </div><!--close footer--> 	
  
</body>
</html>
